<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('invites', { orders: [
			  { created: "desc" }, 
			  "email", "status"
			]});
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<div id="invites"></div>

<% content_for :footer do -%>
	<span id="invites_indicator" class="loading" style="display:none;"></span>
	<span id="invites_count" class="count"></span>
<% end -%>