<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    var itemBrowser;
    document.observe('dom:loaded', function() {
      itemBrowser = new ItemBrowser('invites', 'content', { orders: {
        asc:       ["email", "status"],
        desc:      ["created"],
        "default": "created"
      }});
    });
  </script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<% content_for :footer do -%>
  <span id="invites_count" class="count"></span>
<% end -%>