<div class="toolbar right">
  <%= rounded_button_link t("winnow.messages.header.create_message"), new_message_path, :icon => "add_message", :title => t("winnow.messages.header.create_message_tooltip") %>
</div>