<ul class="control_bar">
  <li><%= link_to "Add Feed", new_feed_url, :class => "add" %></li>
  <li><%= will_paginate(@feeds) %></li>
  <li>
    <% form_tag(feeds_path, :method => :get) do -%>
    	<%= hidden_field_tag :view_id, @view.id %>
    	<%= text_field_tag :search_term, @search_term, :size => 30, :id => 'feed_search_term' %>
    	<%= submit_tag 'Search' %>
    	<%= link_to "Clear", feeds_path(:view_id => @view) %>
    <% end -%>
  </li>
</ul>