<% content_for :header_controls do -%>
<div class="toolbar right">
  <div class="group">
    <%= rounded_button_link _(:feeds_header_add), new_feed_path, :icon => "add" %>
    <%= rounded_button_link _(:feeds_header_import), import_feeds_path, :icon => "import" %>
  </div>
</div>
<% end -%>