<% content_for :header_controls do -%>
  <ul class="control_bar">
    <li><%= link_to _(:feeds_header_add), new_feed_path %></li>
    <li><%= link_to _(:feeds_header_import), import_feeds_path %></li>
  </ul>
<% end -%>