<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feeds');
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => "index_header_controls" %>
<% end -%>

<div id="feeds"></div>

<% content_for :footer do -%>
	<span id="feeds_indicator" class="loading" style="display:none;"></span>
	<span id="feeds_count" class="count"></span>
<% end -%>