<%= render :partial => 'header_controls' %>

<% if @feeds.empty? -%>
  <div class="empty">No feeds matched your search criteria.</div>
<% else -%>
  <%= render :partial => 'feed', :collection => @feeds %>
<% end -%>