<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feeds', 'content', { orders: {
			  asc:       ["title", "globally_exclude", "feed_items_count"], 
			  desc:      ["updated_on"],
			  "default": "title"
			}});
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => "index_header_controls" %>
<% end -%>

<% content_for :footer do -%>
	<span id="feeds_indicator" class="loading" style="display:none;"></span>
	<span id="feeds_count" class="count"></span>
<% end -%>
