<% content_for :head do -%>
  <% javascript_tag do -%>
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('feeds', 'content', { orders: {
			  asc:       ["title", "globally_exclude", "feed_items_count"], 
			  desc:      ["created_on", "updated_on"],
			  "default": "title"
			}});
		});
  <% end -%>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => "header_controls" %>
<% end -%>

<% content_for :footer do -%>	
  <span class="total">
    <label><%= t(:total_feeds) %></label> <%= Feed.count %>
  </span>
<% end -%>