coverage
config/collector.conf
config/database.yml
config/selenium.yml
config/fiveruns_tuneup.yml
db/development_structure.sql
doc/TODO
log
tmp
.DS_Store
benchmarks
classifier.db
classifier.log
nbproject

*.sql.gz
perf.log
corpus
credentials.js
hmac_credentials.yml

public/images/tuneup
public/javascripts/tuneup
public/stylesheets/tuneup

vendor/gems/bcrypt-ruby-2.0.3/ext/Makefile
vendor/gems/bcrypt-ruby-2.0.3/ext/bcrypt.o
vendor/gems/bcrypt-ruby-2.0.3/ext/bcrypt_ext.bundle
vendor/gems/bcrypt-ruby-2.0.3/ext/bcrypt_ext.o
vendor/gems/bcrypt-ruby-2.0.3/ext/blowfish.o
vendor/gems/bcrypt-ruby-2.0.3/lib/bcrypt_ext.bundle
vendor/gems/hpricot-0.6.161/ext/fast_xs/Makefile
vendor/gems/hpricot-0.6.161/ext/fast_xs/fast_xs.bundle
vendor/gems/hpricot-0.6.161/ext/fast_xs/fast_xs.o
vendor/gems/hpricot-0.6.161/ext/fast_xs/mkmf.log
vendor/gems/hpricot-0.6.161/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.6.161/ext/hpricot_scan/hpricot_scan.bundle
vendor/gems/hpricot-0.6.161/ext/hpricot_scan/hpricot_scan.o
vendor/gems/hpricot-0.6.161/ext/hpricot_scan/mkmf.log
vendor/gems/hpricot-0.6.161/lib/universal-darwin9.0/
vendor/gems/RedCloth-4.1.1/ext/redcloth_scan/Makefile
vendor/gems/RedCloth-4.1.1/ext/redcloth_scan/redcloth_attributes.o
vendor/gems/RedCloth-4.1.1/ext/redcloth_scan/redcloth_inline.o
vendor/gems/RedCloth-4.1.1/ext/redcloth_scan/redcloth_scan.bundle
vendor/gems/RedCloth-4.1.1/ext/redcloth_scan/redcloth_scan.o
vendor/gems/RedCloth-4.1.1/lib/redcloth_scan.bundle

