<div id="<%= dom_id(comment) %>" class="comment clearfix">
  <div class="metadata">
    <div class="author"><%= comment.user.display_name %></div>
    <div class="date"><%= format_date(comment.updated_at) %></div>
  </div>
  
  <div class="body">
    <%= comment.body %>
  </div>
</div>
