<% form_remote_for comment, :html => { :class => "clearfix" } do |form|  -%>
  <%= form.text_area :body %>
  <div class="input">
    <div class="errors" id="<%= dom_id(comment, 'error') %>"></div>
    <%= submit_tag t(:update) %> or <%= link_to_function t(:cancel), "$(this).up('.comment').down('.body').show();$(this).up('form').remove()" %>
  </div>
<% end -%>