<% form_tag do -%>
  <p>
    <b><label for="value">Content</label></b><br/>
    <%= text_area_tag :value, @help.value, :class => "content" %>
  </p>
  
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>