<h4><%= link_to "User Management", :controller => 'users' %></h4>
<p>View and manage the users of winnow.</p>

<h4><%= link_to "Global Tag Group Management", :controller => 'global_tag_groups' %></h4>
<p>View and manage the global Tag Groups.</p>

<h4><%= link_to "Item Protection Management", item_protection_url %></h4>
<p>View and manage the Item Protection.</p>
