<% form_tag do -%>
  <p>
    <b><label for="value"><%= t(:content_label) %></label></b> <%= t(:textile_reference) %><br/>
    <%= text_area_tag :value, @info.value, :class => "content" %>
  </p>
  
  <p>
    <%= submit_tag t(:save_button) %>
  </p>
<% end %>