<% form_tag do -%>
  <p>
    <b><label for="value">Content</label></b> Accepts <%= link_to "textile", "http://www.textism.com/tools/textile/index.php" %> formatting<br/>
    <%= text_area_tag :value, @using.value, :class => "content" %>
  </p>
  
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>