<% form_tag do -%>
  <p>
    <b><label for="value"><%= _(:content_label) %></label></b> <%= _(:textile_reference) %><br/>
    <%= text_area_tag :value, @using.value, :class => "content" %>
  </p>
  
  <p>
    <%= submit_tag _(:save_button) %>
  </p>
<% end %>