/* =button */

.button {
  outline: none;
  display: block;
  padding: 0.1em 0.7em;
  background-color: #fff;
  background-image: url(../images/button_bg.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  border: 1px solid #555;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #333;
  text-decoration: none;
}

.button.winnowTagger {
  padding: 0.3em 0.75em;
  border: 1px solid #555;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  color: #333;
  text-decoration: none;
}

a.button {
  text-decoration: none;
}

.button.small {
  padding: 0.1em 0.7em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-size: 0.9em;
  margin: 0;
  line-height: 1.5;  
  border: 1px solid #555;
}

a.button.disabled {
  color: #bbb;
  cursor: default;  
}

.button.selected,
.button:active {
  color: #333;
  background-image: url(../images/button_bg_active.png);
  background-position: left top;
}

a.button:hover {
  text-decoration: none !important;
}

.button.disabled:active {
  color: #ccc;
  background-image: url(../images/button_bg.png);
  background-position: left bottom;
}

.button .icon {
  display: block;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

/* =toolbar */
.toolbar.right {
  float: right;
}
 
.toolbar .button {
  float: left;
  margin-right: 0.5em;
}

.toolbar .group {
  float: left;
}

.toolbar .button:last-child, .toolbar .group:last-child, .toolbar .button.last, .toolbar .group.last {
  margin-right: 0;
}

.toolbar .group h4 {
  margin: 5px 0 5px 0;
  float: left;
}

.toolbar .group label {
  float: left;
  margin-left: 1em;
  margin-right: 0.25em;
  padding: 0.45em 0;
}

.toolbar .group .button {
  margin-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-width: 1px 1px 1px 0;
}

.toolbar .group .button:first-child, .toolbar .group .button.first {
  border-left-width: 1px;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.toolbar .group .button:last-child, .toolbar .group .button.last {
  border-right-width: 1px;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.toolbar .right {
  float: right;
  margin-left: 0.5em;
  margin-right: 0;
}

.toolbar.item_buttons {
  margin-left: 255px;
  float: right;
  padding-bottom: 2px;
}

.toolbar.sidebar_buttons .group {
  width: 248px;
  padding-right: 3px;
}

.toolbar.sidebar_buttons .group a {
  float: right;
}

/* Selected feed */
#selectedFeed {
}

#selectedFeed div.text {
  float: left;
  margin: 2px .5em 0 0;
}

#selectedFeed div.clearfix {
  height: 0px;
  clear: right;
  margin: 0px;
}

#selectedFeed div img {
  vertical-align: top;
  margin-right: .3em;
}

#selectedFeed a.button {
  float: left;
}
