/* =button */
.button {
  outline: none;
  display: block;
  padding: 0.25em 0.75em;
  background-color: #fff;
  background-image: url(../images/button_bg.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  border: 2px solid #bbb;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

.button.small {
  padding: 0.2em 0.75em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
  line-height: 1.5;  
  border: 1px solid #bbb;  
}

.button.disabled {
  color: #ccc;
  cursor: default;  
}

.button.selected,
.button:active {
  color: #333;
  background-image: url(../images/button_bg_active.png);
  background-position: left top;
}

.button:visited {
  color: #666;
}

.button:hover {
  text-decoration: none;
}

.button.disabled:hover {
  text-decoration: none;
}

.button.disabled:active {
  color: #ccc;
  background-image: url(../images/button_bg.png);
  background-position: left bottom;
}

.button .icon {
  display: block;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

/* =toolbar */
.toolbar.right {
  float: right;
}
 
.toolbar .button {
  float: left;
  margin-right: 0.5em;
}

.toolbar .group {
  float: left;
  margin-right: 0.5em;
}

.toolbar .button:last-child, .toolbar .group:last-child, .toolbar .button.last, .toolbar .group.last {
  margin-right: 0;
}

.toolbar .group label {
  float: left;
  margin-left: 1em;
  margin-right: 0.25em;
  padding: 0.45em 0;
}

.toolbar .group .button {
  margin-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-width: 2px 1px 2px 0;
}

.toolbar .group .button:first-child, .toolbar .group .button.first {
  border-left-width: 2px;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.toolbar .group .button:last-child, .toolbar .group .button.last {
  border-right-width: 2px;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.toolbar .right {
  float: right;
  margin-left: 0.5em;
  margin-right: 0;
}