/* =button
 */
.button {
  outline: none;
  display: block;
  padding: 0.25em 0.75em;
  background-color: #fff;
  background-image: url(../images/button_bg.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  border: 2px solid #bbb;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

.button:active {
  background-image: url(../images/button_bg_active.png);
  background-position: left top;
}

.button:hover {
  text-decoration: underline;
}

.button .icon {
  display: block;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

.button .icon.clear {
  background-image: url(../images/close.png);
}

.button .icon.feed {
  background-image: url(../images/feed.png);
}

.button .icon.unread {
  background-image: url(../images/unread.png);
}

/* =toolbar
 */
.toolbar.right {
  float: right;
}
 
.toolbar .button {
  float: left;
  margin-right: 0.5em;
}

.toolbar .group {
  float: left;
  margin-right: 0.5em;
}

.toolbar label {
  float: left;
}

.toolbar .group .button {
  margin-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-width: 2px 1px 2px 0;
}

.toolbar .group .button:first-child, .toolbar .group .button.first {
  border-left-width: 2px;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
}

.toolbar .group .button:last-child, .toolbar .group .button.last {
  border-right-width: 2px;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.toolbar .right {
  float: right;
  margin-left: 0.5em;
  margin-right: 0;
}