div.context_menu {
  border: 0px none;
  position: absolute;
  top: 150px;
  left: 222px;
  width: 150px;
  z-index: 255;
  background-color: white;
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

div.context_menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

div.context_menu ul li span.menu_label {
  margin-left: 1.5em;
}

div.context_menu ul li {
  padding: 2px 0px;
  cursor: pointer;
}

div.context_menu ul li:hover {
  background-color: #FEF3BB;
}

div.context_menu.public li.onlymine {
  color: #ccc;
  cursor: default;
}

div.context_menu.public li.onlymine:hover {
  background-color: white;
}

div.context_menu_button {
  border: 1px solid #aaa;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  -moz-border-radius: 4px;
  background-image: url(../images/bullet_arrow_down.png);
  background-position: -2px -2px;
  background-color: white;
  -moz-user-select: none;
  cursor: pointer;
  display: none;
}

li.tag:hover div.context_menu_button, li.tag.menu-up div.context_menu_button {
  display: block;
}

div.context_menu_button:hover {
  background-color: #D9C9C0;
}
