
.folder.hover {
  background-color: #FFF094;
}

.folder a {
  outline: none;
}

.folder ul.filter_list li.draggable {
  cursor: move;
}


.folder ul.filter_list li a.name {
  display: block;
  margin-left: 3px;
  cursor: pointer;
}

.folder ul.filter_list li input {
  z-index: 1000;
  width: 100%;
  height: 1.2em;
  margin: 0 0 0 3px;
  font-size: 1em;
}

.folder .feed_name, .folder .tag_name {
  display: none;
}