
/*
 * =record
 */
.record {
  position: relative;
  margin: 0 0 .5em 0;
}

.record .summary {
  padding: 0.5em;
  border: 1px solid #e5e5e5;
  background: #f3f3f3;
}

.record .summary:hover {
  background-color: #dfdfdf;
}

.record h4 {
  font-size: 1em;  
  display: inline;
}

.record .description {
  color: #777;
}

.record .summary .info {
  float: right;
  margin-left: 1.5em;
  color: #626051;
}

.record .summary .info div {
  float: left;
  padding: 0.25em 0.5em;
  border-left: 1px solid #ccc;
}

.record .summary .info strong {
  font-size: 1.1em;
  line-height: 1;
}

.record .summary .info .details {
  border: none;
  text-align: right;
  margin-right: 0.25em;
  width: 12em;
}

.record .summary .info p {
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0.1em 0;
  color: #888;
}