/* Table Styles */
table.data_table, table.property_table {
	width: 100%;
	background: white;
	border-bottom: 2px solid #ddd;
	border-spacing: 0px;
}

table.property_table {
	width: 40%;
	border-bottom: none;
}

th {
	text-align: left;
}

th.indented {
	padding-left: 15px;
}

table.data_table th, table.property_table th {
	color: #444;
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 2px solid #ddd;
}

table.data_table td.indented {
	padding-left: 20px;
}

table.data_table td {
	background: white;
	padding: 5px;
	vertical-align: top;
}

table.property_table td {
  padding: 5px;
  border-bottom: 2px solid #ddd;
  text-align: right;
}

th.control_icons, td.control_icons {
	text-align: left;
	width: 64px;
}

th.view_state {
	white-space: nowrap;
}

td.view_state {
	text-align: left;
	white-space: nowrap;
}

td.number, th.number, 
td.date, th.date {
	text-align: right;
  width: 10em;
}

th.sensitivity {
  text-align: center;
}

th.sensitivity, td.sensitivity {
  width: 90px;
}

td.controls {
  text-align: right;
}

table.data_table th.table_break {
	padding-top: 10px;
	font-size: 100%;
}

tr.inactive_feed td, table.inactive_feed {
	background-color: pink;
}

tr.bad_feed td, tr.existing_feed td {
	background-color: yellow;
}

tr.even td {
	background: #ddd;
}

tr.odd td {
	border-top: 1px solid #ddd;
}

table td.even {
	background: #ddd;
}

.comment {
	font-style: italic;
	color: #444;
	font-size: 90%;
}

.comment img {
  cursor: pointer;
  vertical-align: bottom;
}

.data_table td.tag img {
  vertical-align: bottom;
}