.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
** =layout
*/
html {
  height: 100%;
  overflow-y: hidden;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;  
}

div#content > div.info {
  margin-left: 35%;
}

#content {
  overflow: auto;
  padding: 10px;
	position: relative;
}

#feed_items_controller #content {
  padding: 0;
}

/*
** =links
*/
a { color: #2c50e8; text-decoration: none; }
a:hover {text-decoration: underline;}
a:visited { color: #2c50e8; }
a.disabled {color: #888; cursor: default;}
a:hover.disabled {color: #888; background-color: transparent; text-decoration: none;}
a img, img.blank {border: 0; vertical-align: baseline; margin-left: 3px;}

/*
** =defaults
*/
.cursor {
  cursor: pointer;
}

label {
  cursor: pointer;
}

input.example {
  color: #999;
}

form {
  margin: 0px;
}

input.readonly {
  border-top:  1px solid #000;
  border-left:  1px;
  border-right:  0px;
  border-bottom:  0px;
}

fieldset {
  margin-top: 10px;
  width:  700px;
  border: none;
  border-top: 1px solid #999;
}

fieldset legend {
  font-weight: bold;
}

fieldset p {
  clear:  both;
}

fieldset label {
  float: left;
  text-align:  right;
  margin-right: 10px;
  width: 100px;
  text-transform: capitalize;
}

textarea.content { 
  width: 100%;
  height: 40em;
}

/*
** =common
*/
a.close img {
  float: right;
  width: 12px;
  height: 12px;
}

#notice, #warning, #error, #confirm, #message {
  margin: 5px;
  padding: 5px 5px 5px 26px;
}

#notice {
  background: #F0FFE0 url(../images/vertical_sprite.png) no-repeat;
  background-position: 5px -411px;
  border: 1px solid #A0DC11;
}

#warning, #confirm {
  background: #FBF6D3 url(../images/vertical_sprite.png) no-repeat;
  background-position: 5px -475px;
  border: 1px solid #D28D37;
}

#confirm {
  background: #FBF6D3 url(../images/help.png) no-repeat;
  background-position: 5px 5px;
  border: 1px solid #D28D37;
}

#error {
  background: #FDDFD7 url(../images/vertical_sprite.png) no-repeat;
  background-position: 5px -443px;
  border: 1px solid #FF260B;
}

#message {
  background: #F0FFE0 url(../images/vertical_sprite.png) no-repeat;
  background-position: 5px -411px;
  border: 1px solid #A0DC11;
}

.error {
  font-weight: bold;
  color: #FF260B;
  background-color: #FDDFD7;
  border: 2px solid #FF260B;
  padding: 3px;
  text-align: center;
}

.replace {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: 1000em;
  overflow: hidden;
  margin: 0 2px 0 2px;
  background: url(../images/vertical_sprite.png) no-repeat;
}

/*
** =login
*/
#forms {
  border: none;
  width: 20em;
  float: right;
  margin-right: 50px;
}

#forms label {
  display: block;
}

#forms label.inline {
  display: inline;
}

#forms input[type=text], #forms input[type=password] {
  width: 100%;
}

#forms input[type=checkbox] {
  width: 1em;
  height: 1em;
}

#forms h1 {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px solid #999;
}

#forms h4 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #999;
  margin-bottom: 0;
}

#forms .description {
  font-size: .9em;
  font-weight: normal;
  color: #666;
  text-align: center;
  display: block;
}

.forgot_password_link {
  margin: .2em 0 0 0;
  float: right;
}

/*
** =navigation
*/
.navigation {
  padding: 10px 10px 0 10px;
  background-color: #fff;
  border-bottom: 1px solid #999;
}
.navigation .main {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation .main li {
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
}

.navigation .main li a {
  display: block;
  padding: 5px;
  border: 1px solid #999;
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-left-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;
  background: #E1ECFE;
  font-weight: bold;
  text-decoration: none;
  color: #2C50E8;
}

.navigation .main li a.selected {
  background-color: #2c50e8;
  color: #fff;
}

.navigation .main li a:hover {
  text-decoration: underline;
}

.navigation .main li a.help {
  border: none;
  background-color: #fff;
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 23px;
}

.navigation .extra {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation .extra li {
  float: left;
  padding: 0 10px;
  margin: 0;
}

.navigation .extra li a.help {
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  padding-left: 18px;
  font-weight: bold;
}

ul.help li {
  margin-bottom: 5px;
}


/*
** =feedback
*/
.feedback {
	position: relative;
  border: 1px solid #666;
  background: #eee;
  padding: .5em;
  margin: 0 0 .5em 0;
}

.feedback .metadata {
  float: right;
  color: #666;
}

#feedback {
  position: relative;
}

#feedback form {
  position: absolute;
  top: 1.5em;
  left: -5em;
  z-index: 1000;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #666;
}

#feedback form textarea {
  width: 20em;
  height: 5em;
}

/*
** =sidebar
*/
#sidebar {
  float: left;
  width: 22em;
  height: auto;
  padding: 5px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #999;
}

#sidebar_control {
  float: left;
  cursor: pointer;
  width: 20px;
  height: auto;
  background: #E1ECFE url(../images/right_aarow.png) 8px center no-repeat;
  border-right: 1px solid #999;
}

#sidebar_control:hover {
  background-color: #E8EEF7;
}

#sidebar_control.open {
  width: 10px;
  background: #E1ECFE url(../images/left_aarow.png) 2px center no-repeat;
  border-right-color: #E1ECFE;
}

#sidebar_control.open:hover {
  background-color: #E8EEF7;
  border-right-color: #999;
}

#sidebar h4 {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  color: #999;
}

.choice_filter {
	color: #666;
  display: block;
}

.choice_filter .selected {
  color: #000;
  font-weight: bold;
}

/*
** =section
*/
.section {
  margin-bottom: 0.75em;
  border-bottom: 1px solid #FFF094;
	background-color: #ffc;
}

#feeds_section {
  border-bottom: 1px solid #C0C7CD;
  background-color: #E4F2FF;
}

.section .header {
  padding: 0.3em 0.5em;
  background-color: #FFF094;  
}

#feeds_section .header {
  background-color: #C0C7CD;
}

.section > .header .toggle_button {
  float: left;
  width: 16px;
  height: 16px;  
  background: transparent url(../images/plus.gif) left center no-repeat;
  cursor: pointer;
}

.section.open > .header .toggle_button {
  background: transparent url(../images/minus.gif) left center no-repeat;
}

.section > .header .name {
  float: left;
  padding-left: 20px;
}

#tags_section .header .name {
  background: transparent url(../images/tag.png) left center no-repeat;
}

#feeds_section .header .name {
  background: transparent url(../images/feed.png) left center no-repeat;
}

#folders_section > .header .name {
  background: transparent url(../images/folder.png) left center no-repeat;
}

.section.selected .header .name {
  font-weight: bold;
}

.section.some_selected .header .name {
  font-style: italic;
}

.section > .header .actions {
  float: right;
}

.section .header .actions .add_link {
  display: block;
  padding: 1px 0 1px 19px;
  width: 5.4em;
}

#tags_section .header .actions .add_link {
  background: url(../images/tag_blue_add.png) left center no-repeat;  
}

#feeds_section .header .actions .add_link {
  background: url(../images/feed_add.png) left center no-repeat;  
}

#folders_section .header .actions .add_link {
  background: url(../images/folder_add.png) left center no-repeat;  
}

.section.add .header .actions .add_link {
  display: none;
}

.section .header .actions .cancel_link {
  display: none;
}

.section.add .header .actions .cancel_link {
  display: inline;
}

.section .add_form {
  display: none;
  padding: 0.5em;
}

.section.add .add_form {
  display: block;
}

.section .add_form input {
  /* TODO: Make this sized properly */
  width: 100%;
}

.section > .content {
  padding: 0.5em;
  display: none;
}

#folders_section > .content {
  padding: 0.5em 0;
}

.section.open > .content {
  display: block;
}

/*
** =filters
*/
ul.filter_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.filter_list li {
  position: relative;
  padding: 1px 0 1px 21px;
  background-repeat: no-repeat;
  height: 1.5em;
}

ul.filter_list.tags li {
  background-image: url(../images/tag.png);
  background-position: 3px 3px;
}

ul.filter_list.tags li.public {
  background-image: url(../images/public.png);
  background-position: 4px 4px;
}

ul.filter_list.feeds li {
  background-image: url(../images/feed.png);
  background-position: 2px 2px;
}

ul.filter_list li .name {
  float: left;
  height: 1.5em;
  overflow: hidden;
}

ul.filter_list li.selected .name {
  font-weight: bold;
}

ul.filter_list li .inplaceeditor-form .editor_field {
  width: 100%;
  margin: -3px 0 0 -3px;
}

ul.filter_list li.info {
  padding: 0 0 1px 20px;
  background-position: 2px 2px;  
  background-color: #fff;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}

ul.filter_list li.public.info {
  background-position: 3px 3px;
}

ul.filter_list li .auto_complete_name {
  display: none;
}

ul.filter_list li .actions {
  display: none;
  position: absolute;
  height: 1.5em;
  right: 0;
  padding: 2px 2px 0 0;
  background-color: #ffc;
}

#feeds_section ul.filter_list li .actions {
  background-color: #E4F2FF;
}

ul.filter_list li.info .actions {
  margin: -1px -1px 0 0 ;
  padding: 2px 1px 0 0;
  background-color: #fff;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 0;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}

ul.filter_list li:hover .actions {
  display: block;
}

ul.filter_list li.edit .actions {
  display: none;
}

ul.filter_list li .actions .edit {
  float: left;
  width: 16px;
  height: 14px;
  margin-right: 2px;
  background: url(../images/pencil.png) left center no-repeat;
  text-indent: -9000px;
  overflow: hidden;
}

ul.filter_list li .actions .remove {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 1px;
  background: url(../images/close.png) left center no-repeat;
  text-indent: -9000px;
  overflow: hidden;
}

ul.filter_list li .actions .info {
  float: left;
  width: 16px;
  height: 14px;
  background: url(../images/information.png) left center no-repeat;
  text-indent: -9000px;
  overflow: hidden;
}

ul.filter_list li .controls {
  display: none;
  padding: 3px 0;
  position: absolute;
  top: 1.5em;
  left: -1px;
  width: 100%;
  z-index: 900;
  background-color: #fff;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 1px;
  -moz-border-radius-bottomleft: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
}

ul.filter_list li.info .controls {
  display: block;
}

ul.filter_list li .controls div {
	float: left;
	margin: 0.3em 0;
	padding: 0 0.5em;
	border-left: 1px solid #ccc;
}

ul.filter_list li .controls strong {
	font-size: 1.3em;
	letter-spacing: -1px;
	line-height: .97em;
}

ul.filter_list li .controls p {
	font-size: .75em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 0.1em 0;
	color: #999;
}

ul.filter_list li .controls .positive {
  border: none;
	width: 5em;
}

ul.filter_list li .controls .negative {
	width: 5em;
}

ul.filter_list li .controls .automatic {
	width: 6em;
}

ul.filter_list li .controls .positive strong {
	color: #52984B;
}

ul.filter_list li .controls .negative strong {
	color: #C12A2F;
}

ul.filter_list li .controls .automatic strong {
	color: #666;
}

/*
** =folder
*/
.folder.hover {
  background-color: #FFF094;
}

.folder .header {
  position: relative;
  background-color: inherit;
}

.folder .header .toggle_button {
  float: left;
  width: 16px;
  height: 16px;  
  background: transparent url(../images/plus.gif) left center no-repeat;
  cursor: pointer;
}

.folder.open .header .toggle_button {
  background: transparent url(../images/minus.gif) left center no-repeat;
}

.folder .header .name {
  height: 1.5em;
  margin-left: 16px;
  padding-left: 20px;
  background: transparent url(../images/folder.png) left center no-repeat;
}

.folder.selected .header .name {
  font-weight: bold;
}

.folder.some_selected .header .name {
  font-style: italic;
}

.folder .header .inplaceeditor-form .editor_field {
  width: 100%;
  margin: -3px 0 0 -3px;
}

.folder .header .actions {
  display: none;
  position: absolute;
  height: 1.5em;
  top: 0;
  right: 0;
  padding: 2px 2px 0 0;
  background-color: #ffc;
}

.folder .header:hover .actions {
  display: block;
}

.folder.edit .header .actions {
  display: none;
}

.folder .header .actions .edit {
  float: left;
  padding: 0 0 0 18px;
  background: url(../images/pencil.png) left center no-repeat;
  text-indent: -9000px;
}

.folder .header .actions .remove {
  float: left;
  padding: 0 0 0 18px;
  background: url(../images/close.png) left center no-repeat;
  text-indent: -9000px;
}

.folder .content {
  display: none;
  padding: 0 0 0 3em;
}

.folder.open .content {
  display: block;
}

/*
** =classifier
*/
#sidebar .classification_controls {
  text-align: center;
}

.progress_bar_container {
  margin-top: 5px;
  width: 100%;
  height: 2em;
  border: 1px solid gray;
  overflow: hidden;
}

.progress_bar_container #progress_title {
  font-size: .95em;
  text-align: center;
  width: 100%;
  line-height: 2;
  float: left;
}

.progress_bar_container .progress_bar {
  height: 2em;
  width: 0;
  background-color: #2c50e8;
}

.complete {
  background-color: #00FF00;
}

.cancelled {
  background-color: #FF0000;
  font-weight: bold;
  color: #eee;
}

/*
** =header
*/
#header_controls {
  padding: 5px 5px 2px 16px;
  border-bottom: 1px solid #999;
  height: 2em;
  background-color: #e1ecfe;
}

#header_controls .control_bar {
  float: right;
}

ul.control_bar {
  list-style: none;
  margin: 2px 0 0 0;
  padding: 0;
  white-space: nowrap;
}

ul.control_bar li {
  display: inline;
  margin: 0 1em 0 0;
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}

/*
** =item_protection
*/
.explanation {
  float: right;
  width: 300px;
  margin-right: 50px;
  padding: 20px;
  border: 2px solid #9aafe5;
}

p.tag_publications_heading {
  text-decoration: underline;
}

div.sorting_and_filtering_controls {
    margin:  10px 0px 10px 0px;
  padding:  5px;
  text-align: right;
  background-color: #E5E5E5;
}

/*
** =item, =feed_item
*/
.item {
  font-family: Arial;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

.item.selected {
  border: 2px solid #8181dc;
}

.item .closed {
  position: relative;
  border: 1px solid #fff;
  border-width: 2px 2px 1px 2px;
  -moz-user-select: none;
  line-height: 1.8;
}

.item.selected .closed {
  border-width: 0;
}

.item.read .closed {
  border-color: #e8eef7;
  background-color: #e8eef7;
}

.item.open.selected .closed {
  border-width: 0 0 1px 0;
}

.item .closed .status a {
  position: absolute;
  left: 1px;
  height: 1.6em;
  width: 16px;
}

.item.unread .closed .status a {
  background: url(../images/vertical_sprite.png) no-repeat;
  background-position: 0 -638px;
}

.item.read .closed .status a {
  background: url(../images/vertical_sprite.png) no-repeat;
  background-position: 0 -670px;
}

.item .closed .opener {
  cursor: pointer;
}

.item .closed .feed_title {
  float: left;
  margin: 0 1% 0 20px;
  width: 17%;
  height: 1.7em;
  overflow: hidden;
  color: #999;
}

.item .closed .title {
  margin: 0 5em 0 0;
  display: block;
  height: 1.7em;
  overflow: hidden;
  font-weight: bold;
}

.item.read .closed .title {
  font-weight: normal;
}

.item .closed .date {
  float: right;
  margin-right: 2px;
  height: 1.7em;
  color: #666;
}

.item .closed .add_tag {
  float: right;
  margin: 0 2px 0 1em;
}

.item .closed .tag_list {
  min-height: 1.8em;
  margin: 0 2px 0 19%;
}

.item .open {
  position: relative;
  display: none;
}

.item.open .open {
  display: block;
}

.item .open .body {
  padding: 5px 5px 5px 25px;
}

.item.selected .open .body {
  padding: 5px 3px 4px 23px;
}

.item .open .body h3 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

.item .open .body .metadata {
  padding: 0;
  margin: 0 0 1em 0;
  color: #999;
}

.item .open .tag_information {
  border: 2px solid #ffdb00;
  background-color: #ffff89;
  padding: 5px;
}

.item .open .tag_information h3 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}

.item .open .tag_information h4 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  text-decoration: underline;
  cursor: pointer;
}

.item .open .tag_information table.tokens {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.item .open .tag_information table.tokens.last {
  margin-bottom: 0;
}


.item .open .tag_information table.tokens td {
  width: 33.3%;
}

.item .new_tag_form {
  position: absolute;
  right: 2px;
  top: 3px;
  z-index: 1000;
  border: 2px solid #c3d9ff;
  background-color: #e1ecfe;
  padding: 5px;
}

.item .open .info {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/vertical_sprite.png) no-repeat;
  background-position: 0 -544px;
  padding: 1px 0 0 19px;
}

.notitle {
  font-style: italic;
  font-weight: normal;
  color: #666;
}

/*
** =footer 
*/
#footer {
  height: 25px;
  padding: 5px;
  background-color: #E1ECFE;
  border-top: 1px solid #999;
}

#footer #previous-next-buttons {
  float: left;
  margin-left: 5px;
}

#footer .count {
  float: right;
}

#footer .loading {
  float: right;
  background: url(../images/indicator.gif) top left no-repeat;
  padding-left: 20px;
  margin-left: 1em;
}

/*
** =tag_list
*/
ul.tag_list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .98em;
}

ul.tag_list li {
  display: inline;
  color: #666;
  padding: 0;
  margin: 0 0 0 4px;
  line-height: 1.8;
  white-space: nowrap;
  cursor: default;
  position: relative;
}

ul.tag_list li .name {
  padding: 3px 6px 3px 15px;
  background-position: left center;
  background-repeat: no-repeat;
}

ul.tag_list li.classifier .name {
  background-image: url(../images/bullet_black.png);
}

ul.tag_list li.positive .name {
  background-image: url(../images/bullet_green.png);
  color: #52984B;
}

ul.tag_list li.negative .name {
  background-image: url(../images/bullet_red.png);
  color: #C12A2F;
}

ul.tag_list li.public .name {
  background-image: url(../images/public.png);
  background-position: 5px center;
  padding-left: 20px;
}

ul.tag_list li.public:hover .name {
  background-position: 4px center;
  padding-left: 19px;
}

ul.tag_list li:hover .name {
  z-index: 1000;
  background-color: #fff;
  background-position: -1px center;
  padding: 2px 5px 2px 14px;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-left-radius: 0.4em;  
  -webkit-border-top-right-radius: 0.4em;  
}

ul.tag_list li .controls {
  display: none;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 900;
  padding: 3px;
  background: #fff;
  border: 1px solid #aaa;
  color: #000;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

ul.tag_list li:hover .controls {
  display: inline;
}

ul.tag_list li .controls .status {
  display: block;
  text-align: center;
  color: #666;
}

ul.tag_list li.positive .controls .status {
  color: #52984B;
}

ul.tag_list li.negative .controls .status {
  color: #C12A2F;
}

ul.tag_list li .controls .positive, ul.tag_list li .controls .negative, ul.tag_list li .controls .remove {
  cursor: pointer;
  padding: 1px 0 1px 1.6em;
}

ul.tag_list li .controls .positive {
  background: url(../images/vertical_sprite.png) no-repeat;
  background-position: 0 -1px;
  color: #52984B;
}

ul.tag_list li .controls .negative {
  background: url(../images/vertical_sprite.png) no-repeat;
  background-position: 0 -65px;
  color: #C12A2F;
}

ul.tag_list li .controls .remove {
  background: url(../images/close.png) no-repeat;
  display: none;
  color: #666;
}

ul.tag_list li.positive .controls .positive {
  display: none;
}

ul.tag_list li.positive .controls .negative {
  display: inline;
}

ul.tag_list li.positive .controls .remove {
  display: inline;
}

ul.tag_list li.negative .controls .positive {
  display: inline;
}

ul.tag_list li.negative .controls .negative {
  display: none;
}

ul.tag_list li.negative .controls .remove {
  display: inline;
}

/*
** =applesearch
*/
.applesearch.non_safari {
  position: relative;
  overflow: hidden;
  max-width: 224px;
}

.applesearch.non_safari .sbox_l {
  background: url('../images/search_field.gif') no-repeat;
  position: absolute;
  width: 19px;
  height: 19px;
  margin-top: 1px;
}

.applesearch.non_safari .sbox_r {
  background: #E2ECFD url('../images/search_field.gif') no-repeat;
  background-position: -19px 0;
  position: absolute;
  right: 0;
  width: 19px;
  height: 19px;
  margin-top: 1px;
}

.applesearch.non_safari .sbox_r.clear_button {
  background-position: -38px 0;
}

.applesearch.non_safari input {
  background: url('../images/srch_bg.gif') repeat-x top left;
  border: 0;
  height: 19px;
  width: 186px;
  padding: 3px;
  font: 11px/13px arial;
  color: #000;
  margin: 1px 19px 0 19px;
}

.applesearch.non_safari input.placeholder {
  color: #666;
  font-weight: normal !important;
}

#feed_items_controller .applesearch.non_safari input {
  font-weight: bold;
}

/*
** =feeds
*/
a.bookmarklet {
  background-color:#EBEBEB;
  color:#565656;
  font-size:8pt;
  font-weight:700;
  padding:4px 8px;
}

a.bookmarklet:hover {
  text-decoration: none;
}

/*
** =user
*/
.user {
	position: relative;
  border: 1px solid #666;
  background: #eee;
  padding: .5em;
  margin: 0 0 .5em 0;
}

.user .right {
  float: right;
}

.user .controls {
  clear: both;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user .controls li {
  float: left;
  padding: 0;
  margin: 0 0 0 1.5em;
}

.user .controls li a {
  padding: 0 0 0 20px;
  background-image: url(../images/vertical_sprite.png);
  background-repeat: no-repeat;
}

.user .controls li input {
  margin: 0;
  padding: 0;
}

.user .controls li.first {
  margin-left: 0;
}

.user h4 {
	font-size: 140%;
	margin: 0 0 0.5em 0;
}

.user dl {
  float: left;
  margin: 0;
  padding: 0;
}

.user dl.account_detail {
	width: 33%;
}

.user dl.login_detail {
	width: 33%;

}

.user dl.tag_detail {
	width: 33%;

}

.user dl dt {
	clear: both;
	float: left;
  font-weight: bold;
  color: #666;
}

.user dl dt:after {
  content: ":";
}

.user dl dd {
  float: left;
  margin: 0 0 0 .5em;
  padding: 0;
}

/*
** =message
*/
.message .controls {
  clear: both;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
	
.message .controls li {
  float: left;
  padding: 0;
  margin: 0 0 0 1.5em;
}

.message .controls li a {
  padding: 0 0 0 20px;
  background-image: url(../images/vertical_sprite.png);
  background-repeat: no-repeat;
}

.message .date {
	display: block;
	color: #999;
}

/*
** =record
*/
.record {
	position: relative;
  margin: 0 0 .5em 0;
}

.record .summary {
  padding: .5em;
	border-top: 1px solid #ddd;
  background-color: #efefef;
}

.record .summary:hover {
	background-color: #dfdfdf;
}

.record h4 {
	display: inline;
}

.record .description {
  color: #777;
}

.record .summary .info {
  float: right;
	margin-left: 1.5em;
	color: #626051;
	line-height: .7;
	letter-spacing: -1px;	
}

.record .summary .info div {
	float: left;
	padding: 0.5em;
	border-left: 1px solid #ccc;
}

.record .summary .info strong {
	font-size: 1.3em;
	letter-spacing: -1px;
	line-height: .97em;
}

.record .summary .info .details {
	border: none;
	text-align: right;
	margin-right: 0.5em;	
	width: 10em;
}

.record .summary .info .details p {
	color: #555;
}

.record .summary .info .details p span {
	font-weight: normal;
	color: #999;
}

.record .summary .info p {
	font-size: .75em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 0.1em 0;
	color: #999;
}

/*
** =feed
*/
.feed.globally_excluded .summary {
	border-color: #E7ACAD;
  background-color: #F6E0E0;
}

.feed.globally_excluded .summary:hover {
  background-color: #F6d0d0;
}

.feed .summary .description {
	margin: 0.5em 0 0 60px;
}

.feed .summary .description input {
	margin: 0;
}

.feed .summary .info .filter {
	width: 13em;
}

.feed.globally_excluded .summary .info .filter strong {
	color: #C12A2F;
}

.feed .summary .info .count {
	width: 5em;
}

.feed .summary .info .date {
	width: 9.5em;
}

/*
** =tag
*/
.tag .summary {
	cursor: pointer;
	background-image: url(../images/tag.png);
	background-position: 0.5em 0.5em;
	background-repeat: no-repeat;	
	padding-left: 2em;	
}

.tag.public .summary {
	background-image: url(../images/public.png);
	background-position: 0.5em 0.6em;	
}

.tag.subscribed .summary {
	border-color: #9DC482;
  background-color: #D7F3A9;
}

.tag.subscribed .summary:hover {
	background-color: #ccf28f;
}

.tag.globally_excluded .summary {
	border-color: #E7ACAD;
  background-color: #F6E0E0;
}

.tag.globally_excluded .summary:hover {
  background-color: #F6d0d0;
}

.tag .summary .state {
	font-size: 1.5em;
	letter-spacing: -1px;
	line-height: .97em;
	text-transform: uppercase;
}

.tag.subscribed .summary .state {
	color: #52984B;
}

.tag.globally_excluded .summary .state {
	color: #C12A2F;
}

.tag .summary .info .comments {
	width: 6em;
}

.tag .summary .info .positive {
	width: 5em;
}

.tag .summary .info .negative {
	width: 5em;
}

.tag .summary .info .automatic {
	width: 6em;
}

.tag .summary .info .date {
	width: 8em;
}

.tag .summary .info .comments strong {
/*	color: #52718B;*/
	color: #105CB6;
}

.tag .summary .info .positive strong {
	color: #52984B;
}

.tag .summary .info .negative strong {
	color: #C12A2F;
}

.tag .summary .info .automatic strong {
	color: #666;
}

.tag .summary .info .date strong {
	color: #555;
}

.tag .extended .comments {
	float: left;
	width: 70%;
	padding: 1em 0 0;
}

.tag .extended .comments .empty {
	margin-bottom: 1.5em;
  padding: .5em 0;
  text-align: center;
  font-style: italic;
  color: #666;
}

.tag .extended .comment {
	position: relative;
	margin: 0 1.5em 0.5em 0;
	border-top: 1px solid #C0C7CD;
}

.tag .extended .comment .metadata {
	float: left;
	width: 10em;
	padding: 0.5em 0.3em 0.5em 0.5em;
	color: #666;	
	font-size: .95em;
	background-color: #EAF0F5;
}

.tag .extended .comment .metadata .author {
	font-weight: bold;
}

.tag .extended .comment .metadata .actions {
	margin-top: 0.5em;
}

.tag .extended .comment .metadata .actions a {
	color: #52718B;
}

.tag .extended .comment .metadata .actions a.edit {
	margin-right: 0.5em;
}

.tag .extended .comment .body {
	padding: 0.5em 0 0.5em .5em;
	border-left: 10.25em solid #EAF0F5;
}

.tag .extended .comment .body *:first-child {
  margin-top: 0;
}

.tag .extended .comment .body *:last-child {
  margin-bottom: 0;  
}

.tag .extended .comment_form {
	border-top: 1px solid #C0C7CD;
}

.tag .extended .comment form {
	padding: 0.5em 0.5em 0.5em .5em;
	border-left: 10.22em solid #EAF0F5;
}

.tag .extended .comment form  textarea {
	width: 100%;
	border: 1px solid #C0C7CD;
	height: 80px;
  margin: -1px 0 0.5em -1px;
}

.tag .extended .comment form .input {
  float: right;
}

.tag .extended .comment form .errors {
  display: inline;
  padding-right: 0.5em;
  font-weight: bold;
  color: #FF260B;
}

.tag .extended h5 {
	margin: 0 0 0.5em;
	text-align: left;
	font-size: 1em;
	color: #626051;	
}

.tag .extended .sidebar {
  float: right;
	width: 30%;
	padding: 1em 0;
}

.tag .extended .sidebar .block {
	margin-bottom: 1.5em;
	padding: 1em;
}

.tag .extended .sidebar .actions {
	background-color: #FFFFCC;
}

.tag .extended .sidebar .actions input {
	margin: 0;
	vertical-align: bottom;
}

.tag .extended .sidebar .actions .state span {
	white-space: nowrap;
}

.tag .extended .sidebar .actions .state label {
	margin-right: 1.5em;
}

.tag ul.controls {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tag ul.controls li {
	padding: 0.5em 0;
}

.tag ul.controls li.disabled {
	color: #aaa;
}

.tag ul.controls li .slider_track {
	margin: 0.3em 0;
}

.tag ul.controls .view_icon {
	padding: 1px 0 1px 20px;
  background: url(../images/show.png) left center no-repeat;
}

.tag ul.controls .duplicate_icon {
	padding: 1px 0 1px 20px;
  background: url(../images/copy.png) left center no-repeat;
}

.tag ul.controls .feed_icon {
	padding: 1px 0 1px 20px;	
	background: url(../images/feed.png) left center no-repeat;
}

.tag ul.controls .destroy_icon {
	padding: 1px 0 1px 20px;	
	background: url(../images/destroy.png) left center no-repeat;
}

.tag .extended .comment_form {
	margin-right: 1.5em;
	padding: 1em 1em 1em 0.75em;
	background-color: #E4F2FF;
}

.tag .extended .comment_form h5 {
	color: #52718B;
}

.tag .extended .comment_form textarea {
	width: 100%;
	border: 1px solid #C0C7CD;
	height: 80px;
	margin-bottom: 0.5em;
}

.tag .extended .comment_form .input {
	float: right;
}

.tag .extended .comment_form .errors {
  display: inline;
  padding-right: 0.5em;
  font-weight: bold;
  color: #FF260B;
}

/*
** =invite
*/
.invite {
	position: relative;
  border: 1px solid #666;
  background: #eee;
  padding: .5em;
  margin: 0 0 .5em 0;
}

.invite .controls {
	position: absolute;
	top: 1em;
	right: 1em;
  margin: 0;
  padding: 0;
  list-style: none;	
}

.invite .controls li {
  float: left;
  padding: 0;
  margin: 0 0 0 1.5em;
}

.invite .controls li a {
  padding: 0 0 0 20px;
  background-image: url(../images/vertical_sprite.png);
  background-repeat: no-repeat;
}

.invite .controls li input {
  margin: 0;
  padding: 0;
}

.invite .controls li.first {
  margin-left: 0;
}

.invite dl {
  float: left;
  margin: 0;
  padding: 0;
}

.invite dl.created {
	width: 20%
}

.invite dl.created dd {
	margin-bottom: 1em;
}

.invite dl.question {
	width: 40%;
}

.invite dl.email {
	width: 40%;
}

.invite dl dt {
	clear: both;
  font-weight: bold;
  color: #666;
}

.invite dl dt:after {
  content: ":";
}

.invite dl dd {
  float: left;
  margin: 0 0 0 1em;
  padding: 0;
}

/*
** =icons
*/
.blank_icon {
  background-position: 0 -720px;
}

.feed_icon {
  background-position: 0 -608px;
}

.new_icon {
  background-position: 0 -128px;
}

.save_icon {
  background-position: 0 -160px;
}

.save_disabled_icon {
  background-position: 0 -192px;
}

.duplicate_icon {
  background-position: 0 -224px;
}

.duplicate_disabled_icon {
  background-position: 0 -256px;
}

.edit_icon {
  background-position: 0 -288px;
}

.edit_disabled_icon {
  background-position: 0 -320px;
}

.destroy_icon {
  background-position: 0 -352px;
}

.destroy_disabled_icon {
  background-position: 0 -384px;
}

.activate_icon {
  background-position: 0 -416px;
}

.comment_icon {
  background-position: 0 -576px;
}

.home_icon {
  background-position: 0 -700px;
  margin-right: 5px;
}

.cross_icon {
  background: url(../images/cross.png) 0 center no-repeat  !important;
}

.show_icon {
  background: url(../images/show.gif) 0 center no-repeat !important;
}

.pencil_icon {
  background: url(../images/pencil.png) 0 center no-repeat  !important;
  background-position: 0 0;
}

.asc { 
  background-image: url(../images/bullet_arrow_up.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 1.5em 0 0;
}

.desc {
  background-image: url(../images/bullet_arrow_down.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 1.5em 0 0;  
}

/* =messages */
.message {
	position: relative;
  border: 1px solid #666;
  background: #eee;
  padding: .5em;
  margin: 0 0 .5em 0;
}

.messages {
  float: left;
  width: 33%;
}

.messages .empty {
  display: block;
  padding: .5em 0;
  text-align: center;
  font-style: italic;
  color: #666;
}

.messages > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid #666;
}

.messages ul li.sidebar_message {
  margin: 0;
  padding: .5em 0;
  border-bottom: 1px dotted #ccc;
}

.messages ul li.sidebar_message .date {
  color: #999;
  float: right;
}

/*
** =auto_complete 
*/
.auto_complete {
  background: #fff;
  z-index: 100;
  font-weight: normal;
  font-style: normal;
/*  display: none;*/
}

.auto_complete ul {
  border: 1px solid #888;
  margin: 0;
  padding: 0;
  list-style: none;
}

.auto_complete ul li {
  margin: 0;
  padding: 0;
}

.auto_complete ul li.last {
  border-bottom: 0;
}

.auto_complete ul li.selected {
  background-color: #b8d7ff;
}

.auto_complete ul li .highlight {
  font-weight: bold;
}

.auto_complete ul li .filter {
  display: none;
}

.auto_complete ul li .auto_complete_name {
  display: block;
  padding: 2px 0 2px 20px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.auto_complete ul li.tag .auto_complete_name {
  background-image: url(../images/tag.png);
}

.auto_complete ul li.tag.public .auto_complete_name {
  background-position: 2px 4px;
  background-image: url(../images/public.png);
}

.auto_complete ul li.feed .auto_complete_name {
  background-image: url(../images/feed.png);
}

.loading {
  background: url(../images/indicator_medium.gif) center center no-repeat;
  height: 32px;
}
