<tr>
	<th class="tag">Tag</th>
	<th>&nbsp;</th>
	<th class="usage number">Usage (+/-)</th>
	<th class="classifier_usage number">Classifier</th>
	<th class="date">Modified</th>	
	<th class="indented">Tag Group</th>
	<th class="center">Sensitivity</th>
</tr>