<p>'<span id="footer_tag_name">tag</span>' is trained with 
	<span id="footer_tag_positive_count">10</span> positive and 
	<span id="footer_tag_negative_count">5</span> negative examples and finds 
	<span id="footer_tag_count">xxx</span> relevant items.</p>
<p>winnowTag is filtering <%= FeedItem.count %> items collected from <%= Feed.count %> feeds.
<span class="followOn">Get a login to create and share winnowTags, add feeds... <a href="more">read more</a></span></p>