<div id="copyright">a mindloom project &copy; 2010 &bull; 
	powered by <a href="http://github.com/seangeo/classifier">winnow open source classifier</a> &bull; 
	<a href="more">info for media</a>
</div>
