<p>Try this demo to find items in thousands of feeds in real time, using winnowTags trained by examples.
	 Get a login to create and share winnowTags, add feeds... <a href="javascript:alert('link needed')">read more</a>
<span class="powered_by">Powered by <a href="http://github.com/seangeo/classifier" target="_blank">winnowTag open source classifier</a>.
	</span></p>