<p>Find items in thousands of feeds in real time, using winnowTags trained by examples.</p>
<p>Get a login to create and share winnowTags, add feeds... <a href="javascript:alert('link needed')">read more</a>
<span class="followOn">Powered by <a href="http://github.com/seangeo/classifier" target="_blank">winnow open source classifier</a>.
	</span></p>