<div id="demo_title">
	<h1 id="demo_header">winnowTag</h1>
	<h2 id="demo_subheader">demo</h2>
</div>

<div id="topDemoContent" class="demo_content">
	<%= render :partial => "top_content" %>
</div>

<div class="column_headers">
	<div id="siidebar_header"><span class="name">winnowTags</span> (click a tag to see items it finds)</div>
	<div id="item_header"><span class="name">Items</span> (click on an item to open)</div>
	<div id="feedback"><a href="mailto:demo@peerworks.org?Subject=WinnowTag Demo">feedback & questions</a></div>
</div>

<div id="container">
	<div id="sidebar">
		<%= render :partial => "sidebar"%>
	</div>

	<div id="content">&nbsp;</div>
</div>

<div id="footer">
	<div id="bottomDemoContent" class="demo_content">
		<%= render :partial => "bottom_content" %>
	</div>

	<%= render :partial => "footer_bar" %>
</div>
