<%= render :partial => 'header_controls' %>

<% if @users.empty? -%>
  <div class="empty">No users matched your search criteria.</div>
<% else -%>
  <%= render :partial => 'user', :collection => @users %>
<% end -%>