<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    var itemBrowser;
    document.observe('dom:loaded', function() {
      itemBrowser = new ItemBrowser('users', 'content', { orders: {
        asc:       ["login", "name", "email", "tag_count"],
        desc:      ["logged_in_at", "last_accessed_at", "last_tagging_on"],
        "default": "login"
      }});
    });
  </script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<% content_for :footer do -%>
  <span id="users_count" class="count"></span>
<% end -%>
