<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('users');
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<div id="users"></div>

<% content_for :footer do -%>
	<span id="users_indicator" class="loading" style="display:none;"></span>
	<span id="users_count" class="count"></span>
<% end -%>