<% cache(:action => 'index', :action_suffix => dom_id(feed_item, 'description')) do -%>
	<h3><%= link_to_feed_item(feed_item) %></h3>
	<p class="metadata">
		<% if feed_item.author.blank? -%>
      <%= _(:feed_item_feed_metadata, link_to_feed(feed_item.feed)) %>
		<% else -%>
		  <%= _(:feed_item_metadata, link_to_feed(feed_item.feed), feed_item.author) %>
		<% end -%>
	</p>
	<%= clean_html(feed_item.content.content) %>
<% end -%>