<%= render :partial => "sidebar_section", :locals => { 
  :id => "tags_section", :title => t(:sidebar_tags_header), :select => "{folder_ids: 'tags'}", 
  :add_form => text_field_with_auto_complete(:tag, :name, { :class => "filter_search" }, :skip_style => true, :param_name => 'tag[name]', :url => auto_complete_for_sidebar_tags_path, :after_update_element => "function(e, v) { itemBrowser.updateTagFilters(e,v); $('tags_section').removeClassName('add'); }", :on_hide => "itemBrowser.clear_auto_complete"),
  :content => tag_filter_controls(current_user.tags_for_sidebar(params[:tag_ids]), :editable => true, :draggable => true, :remove => :subscription, :ul_options => { :id => "tag_filters", :class => "filter_list clearfix tags" })

} %>

<%= render :partial => "sidebar_section", :locals => { 
  :id => "feeds_section", :title => t(:sidebar_feeds_header), :select => "{folder_ids: 'feeds'}", 
  :add_form => text_field_with_auto_complete(:feed, :title, { :class => "filter_search" }, :skip_style => true, :param_name => 'feed[title]', :url => auto_complete_for_feed_title_feeds_path, :after_update_element => "function(e, v) { itemBrowser.updateFeedFilters(e,v); $('feeds_section').removeClassName('add'); }", :on_hide => "itemBrowser.clear_auto_complete"),
  :content => feed_filter_controls(feeds_for_sidebar, :draggable => true, :remove => :subscription, :ul_options => { :id => "feed_filters", :class => "filter_list clearfix feeds" })
} %>

<%= render :partial => "sidebar_section", :locals => { 
  :id => "folders_section", :title => t(:sidebar_folders_header), :select => false,
  :add_form => render(:partial => "feed_items/add_folder_form"),
  :content => "<div id='folders'>#{render(:partial => "feed_items/folder", :collection => current_user.folders)}</div>"
} %>
<%= sortable_element("folders", :url => sort_folders_path, :method => :put, :constraint => :vertical, :tag => "div", :handle => ".header") %>
