<% (current_user.tags + current_user.subscribed_tags - current_user.excluded_tags).each do |tag| -%>
  <li class="clearfix<%= tag.user_id == current_user.id ? '' : " public" %>">
	  <%#= filter_control "Only Include This Tag", :include, @view.tag_filters.includes?(:include, tag), 
	        :onclick => "itemBrowser.reload({tag_filter: #{tag.id}, tag_filter_state: 'include', tag_filter_action: this.hasClassName('selected') ? 'add' : 'remove'})" %>
    <%= link_to_function tag_name_with_tooltip(tag), "itemBrowser.setFilters({tag_ids: #{tag.id}});" %>
  </li>
<% end -%>