<div id="tag_context_menu" class="context_menu" style="display: none">
	<ul>
		<li id="public_menu_item" class="onlymine">
			<![if !IE]><span class="tick">&#10003;</span><![endif]>
			<!--[if IE]><span class="tick" style="font-family: wingdings;">&#252;</span><![endif]-->
			<span class="menu_label tickable">Public</span>
		</li>
		<li id="rename_menu_item" class="onlymine"><span class="menu_label">Rename</span></li>
		<li id="delete_menu_item"><span class="menu_label">Delete</span></li>
	</ul>
</div>
