	<p class="filter_group_heading"></p>
	<p style="text-align: center">This view shows only items you have explicitly tagged.
		<%= link_to "Click here", :controller => 'feed_items', :mode => '' %><br/>
		to return to the full view.</p>