<% form_tag feed_items_path, :method => :get, :onsubmit => "itemBrowser.reload({text_filter: $('text_filter').value}); return false;" do -%>
  <%= search_field_tag "text_filter", @view.text_filter, :clear => { :onclick => "itemBrowser.reload({text_filter: $('text_filter').value = ''});" } %>
<% end -%>
	