<div class="section" id="tags_section">
  <div class="content clearfix">
    <%= tag_filter_controls(current_user.tags_for_sidebar, 
							:ul_options => { 
												:id => "tag_filters", 
												:class => "filter_list clearfix tags" 
											}) 
		%>
  </div>
</div>
