development:
  adapter: mysql
  database: winnow_development
  host: localhost
  username: root
  password: 
	  
test:
  adapter: mysql
  database: winnow_test
  host: localhost
  username: root
  password:

benchmarking:
  adapter: mysql
  database: winnow_development
  host: localhost
  username: root
  password:
