# This provides and example for the HMAC credentials format as well as credentials for testing
collector:
  'collector_id': 'collector_secret'
winnow:
  'winnow_id': 'winnow_secret'
classifier:
  'classifier_id': 'classifier_secret'
