# Ubuntu: ln -s /usr/lib/firefox-3.0.5/firefox /usr/bin/firefox-bin (replace 3.0.5 with whatever version of firefox you are using)
default:
  test_host: localhost:3000
  selenium_host: localhost
  selenium_port: 4444
  browser: Firefox on OS X
  browser: "*firefox"
  # display: ":0"
osx_firefox:
  browser: Firefox on OS X
osx_safari:
  browser: Safari on OS X
windows_firefox:
  browser: Firefox on Windows
windows_safari:
  browser: Safari on Windows
windows_ie:
  browser: IE on Windows
