<% form_for :classifier, @classifier, :url => classifier_path, :html => {:method => :put} do |f| -%>
	<%= hidden_field_tag("classifier[default_bias]", @classifier.default_bias, :id => 'default_bias') %>
	<% for tag in current_user.tags -%>
		<%= hidden_field_tag("classifier[bias][#{tag.name}]", @classifier.bias_without_defaults[tag.name], :id => tag.dom_id('bias_for')) %>
	<% end -%>
	<div style="margin-left: 50px">
		<%= submit_tag "Save Sensitivity Changes" %>
		<%= link_to "Cancel" %>
	</div>
<% end -%>