<li><%= link_to t("winnow.tags.main.feed"), url_for(:controller => "tags", :action => "show", :user => tag.user_login, :tag_name => tag.name, :format => "atom"), :class => "feed", :title => t("winnow.tags.main.feed_tooltip") %></li>
<% if is_admin? -%>
  <li><%= link_to t("winnow.tags.main.training_feed"), url_for(:controller => "tags", :action => "training", :user => tag.user_login, :tag_name => tag.name, :format => "atom"), :class => "feed training", :title => t("winnow.tags.main.training_feed_tooltip") %></li>
<% end -%>