<tr>
	<th class="tag">Tag</th>
	<th class="view_state">View State</th>
	<th class="control_icons">Controls</th>
	<th class="usage number">Training (+/-)</th>
	<th class="classifier_usage number">Automatic</th>
	<th class="date">Modified</th>
	<th class="indented">User</th>
	<th class="sensitivity">Sensitivity</th>
</tr>