<div class="block actions">
  <h4>Stats</h4>
  <div class="field clearfix">
    <label>Subscribers</label>
    <span><%= tag.tag_subscriptions.count %></span>
  </div>
  <div class="field clearfix">
    <label>Usage</label>
    <span><%= tag.usages.count %></span>
  </div>
</div>