<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('tags', { orders: [
			  "name", "training_count", "classifier_count", "globally_exclude",
			  { last_used_by: "desc" } 
			]});
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'index_header_controls' %>
<% end -%>

<div id="tags"></div>

<% content_for :footer do -%>
	<span id="tags_indicator" class="loading" style="display:none;"></span>
	<span id="tags_count" class="count"></span>
<% end -%>