<% content_for :head do -%>
	<script type="text/javascript" charset="utf-8">
		var itemBrowser;
		document.observe('dom:loaded', function() {
			itemBrowser = new ItemBrowser('tags', 'content', { orders: {
			  asc:       ["name", "state", "comments_number", "positive_count", "negative_count", "classifier_count"],
			  desc:      ["last_trained"],
			  "default": "name"
			}, url: "tags/public"});
		});
	</script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<% content_for :footer do -%>
	<span id="tags_count" class="count"></span>
<% end -%>
