<div id="<%= dom_id(feedback) %>" class="feedback clearfix">
  <span class="metadata">
    <%= t(:feedback_metadata, h(feedback.user.login), format_date(feedback.created_at)) %>
  </span>
  <%=h feedback.body %>
</div>