<% form_tag feedbacks_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => _(:feedback_search_placeholder) %>
<% end -%>

<div class="toolbar right">
  <div class="group">
    <label><%= _(:sort_label) %></label>
    <%= rounded_button_function _(:feedback_sort_user_label), "itemBrowser.setOrder('user')", :icon => "", :id => "order_user", :class => "first" %>
    <%= rounded_button_function _(:feedback_sort_date_label), "itemBrowser.setOrder('created_at')", :icon => "", :id => "order_created_at" %>
  </div>
</div>
  