<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    var itemBrowser;
    document.observe('dom:loaded', function() {
      itemBrowser = new ItemBrowser('feedbacks', 'content', { orders: {
        asc:       ["user"],
        desc:      ["created_at"],
        "default": "created_at"
      }});
    });
  </script>
<% end -%>

<% content_for :header_controls do -%>
  <%= render :partial => 'header_controls' %>
<% end -%>

<% content_for :footer do -%>
  <span id="feedbacks_count" class="count"></span>
<% end -%>
