<% form_remote_for :view, :url => view_path(:id => view, :redirect => @redirect), :html => { :method => :put } do |form| -%>
	Name: <%= form.text_field :name, :size => 20 %>
	<%= submit_tag "Save" %> or <%= link_to_function "cancel", "$('view_form').update('');" %>
<% end -%>