<% content_for :body, "login" %>

<div class="container">
  <% if @invite and @invite.code? -%>
    <%= render :partial => "signup", :object => @invite %>
  <% else -%>
    <%= render :partial => "login" %>
    <%= render :partial => "reminder" %>
  <% end -%>
</div>