<ul class="help">
	<li>Open an item, you can create, add and remove tags.</li>
	<li>If you've already created a tag, you can add and remove it from an item by clicking it in the panel at the top of the open item.</li>
	<li>At any time, you can invoke the autotagger by pushing the "classify" button on the left.  Items will incrementally appear in the list as they are processed.</li>
	<li>Select a tag in the top pulldown on the left, you will see items with that tag, and classify only by that tag.</li>
	<li>Tags added by the classifier show up in italics.  "Marginal" tags are orange.</li>
	<li>If you want marginal items to have that tag, you probably need to tell the classifier by tagging them manually, or they may disappear later.</li>
	<li>To train, tag one or a few examples, classify by that tag, and then "correct" the classifier (by adding and removing tags) and reclassify until you're happy or bored.</li>
	<li>New items that get collected from feeds will get classified with your tags, and you'll see them marked as new when you check back.</li>
</ul>