<p>This is build "<%= @revision %>" of Winnow deployed from "<%= @repos %>".</p>

<%= classifier_info(@classifier_info) %>

<p><%= link_to_function "Click for more", "$('details').show();" %></p>

<pre style="display:none" id="details">
<%= @about %>
</pre>
