<% content_for :body, "info" %>

<%= render :partial => "messages/sidebar", :locals => { :messages => @messages } %>

<div class="bubble_wrapper">
  <div class="info">
    <%= textilize @info.value %>
  </div>
</div>