<div id="published_tags" style="margin-right: 250px">
<table class="data_table">
	<%= render :partial => 'tag_publications/by_tag_group/header' %>
	<%= render :partial => 'tag_publications/by_tag_group/tag_publication', :collection => tag_publications %>
</table>
</div>