<div class="header">
  <h2>winnowTag.org requires at least Internet Explorer 8</h2>
</div>

<div class="content">
  <h3>Installing a new browser is fast and free:</h3>
  <div class="browsers clearfix">
    <div class="firefox">
      <a href="http://www.mozilla.com/en-US/firefox/"><img src="/images/firefox.png"></img>Firefox</a>
      <p>Windows, Mac &amp; Linux</p>
    </div>
    <div class="chrome">
      <a href="http://www.google.com/chrome"><img src="/images/chrome.png"</img>Chrome</a>
      <p>Windows, Mac &amp; Linux</p>
    </div>
    <div class="safari">
      <a href="http://www.apple.com/safari/download/"><img src="/images/safari.png"></img>Safari</a>
      <p>Windows &amp; Mac</p>      
    </div>
    <div class="internet_explorer8">
      <a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx"><img src="/images/ie8.png"></img>IE 8</a>
      <p>Windows only</p>
    </div>
  </div>
  <h4>Download and install one of these free web browsers. Your experience will improve
     on all sites you visit.</h4>
  </div>